<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

define('DS',DIRECTORY_SEPARATOR);
define('SAYWUT_ROOT_PATH',__DIR__);
define('SAYWUT_SERVER_ROOT',SAYWUT_ROOT_PATH.DS.'..');


define('MYSQL_DB_HOST', 'localhost');
define('MYSQL_DB_PORT', '3306');
define('MYSQL_DB_NAME', 'something');
define('MYSQL_DB_USER','something');
define('MYSQL_DB_PASS','something');

define('POSTS_TBL','posts');
define('EVENTS_TBL','posts_logs');
define('META_TBL','posts_meta');
define('BOTS_TBL','posts_bots');
define('SEARCH_TBL','posts_fulltext');

define('DT_FORMAT','Y-m-d H:i:s');

define('EVENTS_CLEANUP',90);

$GLOBALS['CURL_SETTINGS'] = array(
    CURLOPT_USERAGENT => 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1468.0 Safari/537.36',
    CURLOPT_CONNECTTIMEOUT => 30,
    CURLOPT_RETURNTRANSFER => 1,
    CURLOPT_FOLLOWLOCATION => true,
);

$GLOBALS['BOT_CONFIG'] = array();
$GLOBALS['BOT_CONFIG'][0] = array('class'=>null,'name'=>'Unknown');
$GLOBALS['BOT_CONFIG'][1] = array(
    'class'=>'Twitter_Bot',
    'name'=>'Twitter',
    'account'=>'heyqule',
    'interval'=>0,
    'overwrite'=>true,
    'consumerKey'=>'',
    'consumerSecret'=>'',
    'oauthKey' => '',
    'oauthSecret' => ''
);

/* Bot that does not run as a cron */
$GLOBALS['BOT_CONFIG'][2] = array(
    'class' => 'Raw_Bot',
    'name' => 'Projects',
    'interval' => -1
);

/** SYSTEM WRITTEN CONFIG **/


