* {
    margin:0;
    padding:0;
}

html, body
{
    height: 100%;
    min-width:960px;
}

ul {
    list-style:none;
}

.sidebar {
    float:left;
    width: calc(15% - 40px);
    padding:20px;
    height:100%;
}

.sidebar li {
    padding: 10px 0;
}

.content {
    float:left;
    width:calc(85% - 20px);
    padding-left:20px;
}

.input_form li {
    padding:10px 0;
}

label {
    width:100px;
    display:inline-block;
}

textarea {
    width:75%;
    height:200px;
}

input {
    width:50%;
}

table tr td {
    padding:10px 0;
}

.meta_fields div {
    width:50%;
    float:left;
}

.meta_fields input,
.meta_fields textarea {
    min-width:200px;
    width:50%;
    vertical-align: top;
}

.meta_fields textarea { height:50px; }

.meta_fields li {
    overflow:auto;
    margin-bottom:10px;
}